<section>
    <label class="col-sm-2 control-label">account id</label>
    <input type="text" ng-model="controller.initialAddAccountContactReqData.accountId">
    <br>
    <button class="btn btn-default" ng-click="controller.showAddAccountContactModal()">
        add account contact
    </button>

    <div ng-if="controller.accountContact.id">
        <h4>result:</h4>

        <pre>
            {{controller.accountContact|json}}
        </pre>

    </div>
</section>