<section ng-form="addAccountContactReqForm">
    <div class="modal-header">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="controller.cancel(addAccountContactReqForm)">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Account Contact</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label
                        for="firstName"
                        class="col-sm-4 control-label">
                    First Name
                </label>

                <div class="col-sm-8">
                    <input
                            id="firstName"
                            name="firstName"
                            type="text"
                            class="form-control"
                            ng-model="controller.addAccountContactReqData.firstName"
                            ng-required="true"
                            ng-maxlength="40"
                            ng-minlength="1">

                    <div ng-show="addAccountContactReqForm.firstName.$touched||addAccountContactReqForm.$submitted">
                        <ng-messages class="help-block" for="addAccountContactReqForm.firstName.$error">
                            <div ng-messages-include="add-account-contact-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="lastName"
                        class="col-sm-4 control-label">
                    Last Name
                </label>

                <div class="col-sm-8">
                    <input
                            id="lastName"
                            name="lastName"
                            type="text"
                            class="form-control"
                            ng-model="controller.addAccountContactReqData.lastName"
                            ng-required="true"
                            ng-maxlength="40"
                            ng-minlength="1">

                    <div ng-show="addAccountContactReqForm.lastName.$touched||addAccountContactReqForm.$submitted">
                        <ng-messages class="help-block" for="addAccountContactReqForm.lastName.$error">
                            <div ng-messages-include="add-account-contact-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="phoneNumber"
                        class="col-sm-4 control-label">
                    Phone Number
                </label>

                <div class="col-sm-8">
                    <input
                            id="phoneNumber"
                            name="phoneNumber"
                            type="tel"
                            class="form-control"
                            ng-model="controller.addAccountContactReqData.phoneNumber"
                            ng-required="true"
                            ng-maxlength="20"
                            ng-minlength="4">

                    <div ng-show="addAccountContactReqForm.phoneNumber.$touched||addAccountContactReqForm.$submitted">
                        <ng-messages class="help-block" for="addAccountContactReqForm.phoneNumber.$error">
                            <div ng-messages-include="add-account-contact-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="emailAddress"
                        class="col-sm-4 control-label">
                    Email Address
                </label>

                <div class="col-sm-8">
                    <input
                            id="emailAddress"
                            name="emailAddress"
                            type="email"
                            class="form-control"
                            ng-model="controller.addAccountContactReqData.emailAddress"
                            ng-required="true">

                    <div ng-show="addAccountContactReqForm.emailAddress.$touched||addAccountContactReqForm.$submitted">
                        <ng-messages class="help-block" for="addAccountContactReqForm.emailAddress.$error">
                            <div ng-messages-include="add-account-contact-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="country"
                        class="col-sm-4 control-label">
                    Country
                </label>

                <div class="col-sm-8">
                    <select
                            id="country"
                            name="country"
                            class="form-control"
                            ng-options="country.alpha2Code as country.name for country in controller.countryList"
                            ng-model="controller.addAccountContactReqData.countryIso31661Alpha2Code"
                            ng-required="true"
                            ng-change="controller.handleAddressCountryCodeChange()">
                        <option value="">select...</option>
                    </select>

                    <div ng-show="addAccountContactReqForm.country.$touched||addAccountContactReqForm.$submitted">
                        <ng-messages class="help-block" for="addAccountContactReqForm.country.$error">
                            <div ng-messages-include="add-account-contact-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="region"
                        class="col-sm-4 control-label">
                    Region
                </label>

                <div class="col-sm-8">
                    <select
                            id="region"
                            name="region"
                            class="form-control"
                            ng-options="region.code as region.name for region in controller.countrySubdivisionList"
                            ng-model="controller.addAccountContactReqData.regionIso31662Code"
                            ng-required="true"
                            ng-readonly="!controller.addAccountContactReqData.countryIso31661Alpha2Code"
                            ng-disabled="!controller.addAccountContactReqData.countryIso31661Alpha2Code">
                        <option value="">select...</option>
                    </select>

                    <div ng-show="addAccountContactReqForm.region.$touched||addAccountContactReqForm.$submitted">
                        <ng-messages class="help-block" for="addAccountContactReqForm.region.$error">
                            <div ng-messages-include="add-account-contact-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndClose(addAccountContactReqForm)">
                    save and close
                </button>
            </div>
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.cancel(addAccountContactReqForm)">
                    cancel
                </button>
            </div>
        </div>
    </div>
</section>